langchain
langchain-community
langchain-google-genai
langchain-experimental
langchainhub
chromadb>=0.4.22,<0.6.0
sentence-transformers
torch
transformers
pypdf
rapidocr-onnxruntime
python-dotenv
streamlit
uvicorn
